@page
@model Marimon.Areas.Identity.Pages.Account.Manage.Citas
@{
    ViewData["Title"] = "Citas";
}

<link rel="stylesheet" href="~/css/perfil_usuario.css" asp-append-version="true" />

<div class="user-profile-container">
    <div class="profile-header">
        <h1>Detalle Usuario</h1>
    </div>
    <div class="profile-content">
        <div class="sidebar">
            <div class="sidebar-menu-item ">
                <a asp-area="Identity" asp-page="/Account/Manage/Index">Detalle de la cuenta</a>
            </div>
            <div class="sidebar-menu-item">
                <a asp-area="Identity" asp-page="/Account/Manage/Pedidos">Mis pedidos</a>
            </div>
            <div class="sidebar-menu-item active">
                <span>Mis citas</span>
            </div>
            <div class="sidebar-menu-item exit">
                <form asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit">SALIR</button>
                </form>
            </div>
        </div>
        <div class="profile-details">
            <h2>Mis Citas</h2>

            @if (Model.ReservasUsuario != null && Model.ReservasUsuario.Any())
            {
                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th>ID Cita</th>
                            <th>Placa</th>
                            <th>Teléfono</th>
                            <th>Fecha</th>
                            <th>Servicio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var reserva in Model.ReservasUsuario)
                        {
                            <tr>
                                <td>@reserva.res_id</td>
                                <td>@reserva.res_placa</td>
                                <td>@reserva.res_telefono</td>
                                <td>@reserva.res_fecha</td>
                                <td>@reserva.Servicio?.ser_nombre</td> 
                                <td>
                                    <form method="post" asp-page-handler="CancelarCita" asp-route-id="@reserva.res_id">
                                        <button type="submit" class="btn btn-danger">Eliminar Cita</button>
                                    </form>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-warning text-center mt-4" role="alert">
                    <strong>No se encontraron citas.</strong> Por favor, agenda una cita para continuar.
                </div>
            }
        </div>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}