@{
    Layout = "_LayoutVentas";
    ViewData["Title"] = "Módulo de Autopartes - Administración";
}

<link href="/css/styleAdmin.css" rel="stylesheet" type="text/css">

<div class="admin-container">
    <!-- Contenido principal -->
    <main class="modulo-content">
        <div class="modulo-grid">
            <!-- Ventas y Promociones | consultar ventas -->
            <div class="modulo-item">
                <div class="card-content flujo-section">
                    <a href="@Url.Action("ManejarVentas", "Personal_Ventas")" class="flujo-column-link">
                        <div class="flujo-column">
                            <div class="flujo-item">
                                <img src="~/images/auto.png" alt="Manejar Ventas" class="small-icon">
                            </div>
                            <div class="flujo-badge-container">
                                <span class="flujo-badge entrada">VENTAS</span>
                            </div>
                        </div>
                    </a>
                    <a asp-area="" asp-controller="GestionPromociones" asp-action="Index" class="flujo-column-link">
                        <div class="flujo-column">
                            <div class="flujo-item">
                                <img src="~/images/promociones.png" alt="Gestión Promociones" class="small-icon">
                            </div>
                            <div class="flujo-badge-container">
                                <span class="flujo-badge salida">PROMOCIONES</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-footer">
                    <span class="flujo-text">VENTAS Y PROMOCIONES</span>
                </div>
            </div>

            <!-- Autopartes -->
            <a href="@Url.Action("ListaAutopartes", "Personal_Ventas")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="~/images/autopartes.png" alt="Autopartes">
                    </div>
                    <div class="card-footer">
                        <span>AUTOPARTES</span>
                    </div>
                </div>
            </a>

            <!-- Flujo de Autopartes -->
            <div class="modulo-item">
                <div class="card-content flujo-section">
                    <a href="@Url.Action("Entradas", "Personal_Ventas")" class="flujo-column-link">
                        <div class="flujo-column">
                            <div class="flujo-item">
                                <img src="~/images/entrada.png" alt="Entradas" class="small-icon">
                            </div>
                            <div class="flujo-badge-container">
                                <span class="flujo-badge entrada">ENTRADAS</span>
                            </div>
                        </div>
                    </a>
                    <a href="@Url.Action("Salidas", "Personal_Ventas")" class="flujo-column-link">
                        <div class="flujo-column">
                            <div class="flujo-item">
                                <img src="~/images/salida.png" alt="Salidas" class="small-icon">
                            </div>
                            <div class="flujo-badge-container">
                                <span class="flujo-badge salida">SALIDAS</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-footer">
                    <span class="flujo-text">FLUJO DE AUTOPARTES</span>
                </div>
            </div>

            <!-- Reportes -->
            <a href="@Url.Action("Reportes", "Personal_Ventas")" class="modulo-item-link">
                <div class="modulo-item">
                    <div class="card-content">
                        <img src="~/images/estadistica.png" alt="Reportes">
                    </div>
                    <div class="card-footer">
                        <span>REPORTES</span>
                    </div>
                </div>
            </a>
        </div>
    </main>
</div>
